body 
{
  font-family: serif;
}

table 
{
  border-collapse: separate;
  width: 600px;
  text-align: center;
}

td, th 
{
  border: 3px solid rgb(0, 0, 0);
  padding: 8px;
}

th:first-child 
{
  width: 70px;
}

td 
{
  font-size: 15px;
  font-family: monospace;
}

thead
{
    background-color: rgb(128, 128, 128);
}

thead th[colspan]
{
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}

h1
{
    color: rgb(255, 255, 255);
    font-size: 40px ;
    margin: 0;
}

tbody th:first-child 
{
  background-color: rgb(128, 128, 128);
  color: rgb(0, 0, 0);
}

tbody th 
{
  background-color: rgb(128, 128, 128);
  color: rgb(0, 0, 0);
}

tbody th[rowspan="5"] {
  color: rgb(255, 255, 255);
}

td, th
{
  padding: 5px;
}

tbody :is(
tr:nth-child(1) td:nth-of-type(1),
tr:nth-child(2) td:nth-of-type(2),
tr:nth-child(3) td:nth-of-type(3),
tr:nth-child(4) td:nth-of-type(4),
tr:nth-child(5) td:nth-of-type(5)

) 
{
    background-color: rgb(130,130,130);
}